<template>
    <button :class="classObject" :href="href" @click="onclick">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        computed: {
            classObject() {
                return [
                    'button',
                    this.btnVariant,
                    this.btnSize,
                    this.btnColor
                ];
            },
            btnVariant() {
                return this.variant ? `is-${this.variant}` : '';
            },
            btnSize() {
                return this.size ? `is-${this.size}` : '';
            },
            btnColor() {
                return this.color ? `is-${this.color}` : '';
            },
        },
        props: {
            size: {
                type: String,
                default: null
            },
            variant: {
                type: String,
                default: null
            },
            color: {
                type: String,
                default: 'primary'
            },
            href: {
                type: String
            }
        },
        methods: {
            onclick(e) {
                this.$emit('click', e);
            }
        }
    };
</script>
